<div mat-dialog-title>
  <h4>Ajouter ou modifier un projet</h4>
</div>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <input [(ngModel)]="project.name" id="name" matInput name="name" placeholder="Nom" type="text">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input [(ngModel)]="project.color" id="color" matInput name="color" placeholder="Couleur" type="text">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input [(ngModel)]="project.description" id="description" matInput name="description" placeholder="Description"
           type="text">
  </mat-form-field>


  <mat-form-field appearance="fill">
    <input [(ngModel)]="project.git" id="git" matInput name="git" placeholder="Git" type="text">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input [(ngModel)]="project.icon" id="icon" matInput name="icon" placeholder="Icone" type="text">
  </mat-form-field>

  <div *ngIf="this.project.id === null || this.project.id === undefined">
    <h4>Subject</h4>
    <mat-form-field>
      <mat-label>Sujet</mat-label>
      <mat-select [(ngModel)]="project.subject">
        <mat-option *ngFor="let subject of subjects" [value]="subject">
          {{subject.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="this.project.id !== null && this.project.id !== undefined">
        <span *ngFor="let ability of project.abilities">{{ability.name}} <i
          (click)="removeAbility(project.id,ability.id)"
          class="fa fa-trash-alt"></i><br></span>
    <span *ngFor="let technology of project.technologies">{{technology.name}} <i
      (click)="removeTechnology(project.id,technology.id)"
      class="fa fa-trash-alt"></i><br></span>

    <h4>Ajouter une compétence</h4>
    <mat-form-field>
      <mat-label>Compétence</mat-label>
      <mat-select [(value)]="addedAbility">
        <mat-option *ngFor="let ability of abilities" [value]="ability">
          {{ability.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button (click)="addAbility()" color="primary" mat-raised-button>Ajouter
      la compétence
    </button>

    <h4>Ajouter une technologie</h4>
    <mat-form-field>
      <mat-label>Technologie</mat-label>
      <mat-select [(value)]="addedTechnology">
        <mat-option *ngFor="let technology of technologies" [value]="technology">
          {{technology.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="addTechnology()" color="primary" mat-raised-button>
      Ajouter la technologie
    </button>
  </div>


</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="handleClickSave()" color="primary" mat-raised-button
          type="button">Sauvegarder
  </button>
</mat-dialog-actions>
