<div mat-dialog-title>
  <h4>Ajouter ou modifier un projet</h4>
</div>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <input [(ngModel)]="project.name" id="name" matInput name="name" placeholder="Nom" type="text">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input [(ngModel)]="project.color" id="color" matInput name="color" placeholder="Couleur" type="text">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input [(ngModel)]="project.description" id="description" matInput name="description" placeholder="Description"
           type="text">
  </mat-form-field>


  <mat-form-field appearance="fill">
    <input [(ngModel)]="project.git" id="git" matInput name="git" placeholder="Git" type="text">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input [(ngModel)]="project.icon" id="icon" matInput name="icon" placeholder="Icone" type="text">
  </mat-form-field>

  <span *ngFor="let ability of project.abilities">{{ability.name}} <i
    (click)="removeAbility(ability.id)"
    class="fa fa-trash-alt"></i><br></span>

  <span *ngFor="let technology of project.technologies">{{technology.name}} <i
    (click)="removeTechnology(technology.id)"
    class="fa fa-trash-alt"></i><br></span>

  <h4>Add ability</h4>
  <mat-form-field>
    <mat-label>Ability</mat-label>
    <mat-select [(value)]="addedAbility">
      <mat-option *ngFor="let ability of abilities" [value]="ability">
        {{ability.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button *ngIf="!!addedAbility" (click)="addAbility()" color="primary" mat-raised-button>
    Add
  </button>

  <h4>Add technology</h4>
  <mat-form-field>
    <mat-label>Technology</mat-label>
    <mat-select [(value)]="addedTechnology">
      <mat-option *ngFor="let technology of technologies" [value]="technology">
        {{technology.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button *ngIf="!!addedTechnology" (click)="addTechnology()" color="primary" mat-raised-button>
    Add
  </button>


</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="handleClickSave()" color="primary" mat-raised-button
          type="button">Save
  </button>
</mat-dialog-actions>
