
body {
  background-color: #424242;
  color: white;
}

video {
  position: absolute;
  left: -1vw;
  top: -55vh;
  width: 99.8vw;
}

header {
  height: 50vh;
  padding: 6vh;
}

header > div {
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
  width: 18vw;
}

.header-icons {
  display: block;
  width: 10vw;
  margin-left: auto !important;
  margin-right: auto !important;
  height: auto;
  margin-bottom: 1rem;
}

.profile {
  background-color: #424242;
  color: white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: 3vw !important;
  height: 8rem;
}

.profile-text {
  color: white;
}

.profile-image {
  width: 12rem;
  height: 12rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  border-radius: 50%;
}

nav button, nav a {
  width: 10vw !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
}

h4 {
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

h4 a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;;
}

mat-card {
  width: 15%;
  margin-left: auto;
  margin-right: auto;
}

nav {
  height: 38vh;
  padding-top: 3vh;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin: 0;
}

label {
  color: white !important;
}

input {
  border-color: white !important;
  color: white !important;
}

textarea {
  border-color: white !important;
  color: white !important;
}

dialog {
  background-color: #242424;
}

select {
  width: 100%;
  color: white;
  background-color: #242424;
  border-radius: 3px;
  height: 3vw;
}

#abilities {
  min-height: 100vh;
  background-color: #212121;
}

#projects {
  min-height: 100vh;
  background-color: #616161;
}

#diplomas {
  min-height: 100vh;
  background-color: #212121;
}


/* ================================= MEDIA QUERIES ================================= */

@media screen and (max-width: 768px) {

  .menu-button div {
    margin-top: 3rem;
  }

  video {
    top: 0;
    left: 0;
  }

  mat-card {
    width: 14rem;
  }

  nav div .header-icons {
    width: 4rem;
  }

  nav {
    height: 44rem;
    padding-top: 5rem;
  }

  header {
    height: 10rem;
  }

  nav button, nav a {
    width: 10rem !important;
  }

}

/*=================================== MENU ================================================*/

.sticky {
  position: fixed;
  top: 0;
}

h4 {
  color: white;
}


.active {
  background-color: #0066CC;
}

/* =============================== ADD BUTTONS ==============================================*/

.create-button {
  position: fixed;
  z-index: 10000;
  right: 24px;
}

.create-button-toggle {
  right: 24px;
  bottom: 24px;
}

.create-button-diploma {
  bottom: 240px;
}

.create-button-project {
  bottom: 168px;
}

.create-button-subject {
  bottom: 96px;
}
