<h1 mat-dialog-title>Ajouter ou modifier un sujet</h1>


<mat-dialog-content>
  <mat-form-field>
    <input matInput type="text" id="name" placeholder="Nom" [(ngModel)]="subject.name" name="name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" id="image" placeholder="Image" [(ngModel)]="subject.image" name="image">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" id="icon" placeholder="Icone" [(ngModel)]="subject.icon" name="icon">
  </mat-form-field>
  <br>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="submit()" color="primary">Sauvegarder</button>
</mat-dialog-actions>
