<h1 mat-dialog-title>Ajouter ou modifier un sujet</h1>


<mat-dialog-content>
  <mat-form-field appearance="fill">
    <input [(ngModel)]="subject.name" id="name" matInput name="name" placeholder="Nom" type="text">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <input [(ngModel)]="subject.image" id="image" matInput name="image" placeholder="Image" type="text">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <input [(ngModel)]="subject.icon" id="icon" matInput name="icon" placeholder="Icone" type="text">
  </mat-form-field>
  <br>
</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="submit()" color="primary" mat-raised-button>Sauvegarder</button>
</mat-dialog-actions>
