
.project-description a {
  width: 10vw;
  margin-bottom: 1vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.project-description button {
  width: 12vw !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.project-description p {
  padding: 16px;
  color: white;
  text-align: justify;
}


.project-image img {
  width: 20vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.specs img {
  width: 3vw;
  height: auto;
}

.fa {
  font-size: 1.25vw;
}

.spec {
  padding: 0.3vw;
}
