<div mat-dialog-title>
  <h4>
    {{project.name}}
  </h4>
</div>
<div mat-dialog-content>
  <div class="project-description">
    <p>
      <markdown ngPreserveWhitespaces>{{project.description}}</markdown>
    </p>
    <a *ngIf="project.git" href="{{project.git}}"
       mat-raised-button color="primary">GitLab</a>
  </div>
  <div class="specs">
    <img class="spec" *ngFor="let ability of project.abilities" src="{{ability.image}}"/>
    <img class="spec" *ngFor="let technology of project.technologies" src="{{technology.image}}"/>
  </div>
</div>
<div mat-dialog-actions>

  <a mat-button *ngIf="logged" (click)="handleClickEdit()">MODIFIER</a>

  <a mat-button *ngIf="logged" (click)="handleDelete(project.id)" (click)="close()">SUPPRIMER</a>

  <button mat-button class="close" [mat-dialog-close]="this.deleted">FERMER</button>


</div>
