<h1 mat-dialog-title>Ajouter ou modifier une compétence</h1>

<mat-dialog-content>
  <mat-form-field appearance="fill">
    <input [(ngModel)]="ability.name" id="name" matInput name="name" placeholder="Nom" type="text">
  </mat-form-field>

  <input (change)="handleFileInput($event.target.files)" id="image" name="image" placeholder="Image" type="file">
  <br>
  <br>
  <br>

  Color :
  <mcc-color-picker (change)="this.ability.color = $event"></mcc-color-picker>

</mat-dialog-content>


<div mat-dialog-actions>
  <button (click)="handleClickSave()" color="primary" mat-raised-button
          type="button">Sauvegarder
  </button>
</div>
