<h1 mat-dialog-title>Ajouter ou modifier une Technologie</h1>

<mat-card-content>
  <mat-form-field appearance="fill">
    <input [(ngModel)]="technology.name" id="name" matInput name="name" placeholder="Nom" type="text">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input [(ngModel)]="technology.image" id="image" matInput name="image" placeholder="Image" type="text">
  </mat-form-field>
</mat-card-content>

<mat-dialog-actions>
  <button (click)="handleClickSave()" color="primary" mat-raised-button type="button">Sauvgarder</button>
</mat-dialog-actions>
