
    <div mat-dialog-title>
      <h4>Ajouter ou modifier un projet</h4>
    </div>
    <mat-dialog-content>
      <mat-form-field>
        <input matInput type="text" id="name" placeholder="Nom" [(ngModel)]="project.name" name="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" id="color" placeholder="Couleur" [(ngModel)]="project.color" name="color">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" id="description" placeholder="Description" [(ngModel)]="project.description"
               name="description">
      </mat-form-field>


      <mat-form-field>
        <input matInput type="text" id="git" placeholder="Git" [(ngModel)]="project.git" name="git">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" id="icon" placeholder="Icone" [(ngModel)]="project.icon" name="icon">
      </mat-form-field>

      <div *ngIf="this.project.id === null || this.project.id === undefined">
        <h4>Subject</h4>
        <mat-form-field>
          <mat-label>Sujet</mat-label>
          <mat-select [(ngModel)]="project.subject" >
            <mat-option *ngFor="let subject of subjects" [value]="subject">
              {{subject.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="this.project.id !== null && this.project.id !== undefined">
        <span *ngFor="let ability of project.abilities">{{ability.name}} <i class="fa fa-trash-alt"
                                                                            (click)="removeAbility(project.id,ability.id)"></i><br></span>
        <span *ngFor="let technology of project.technologies">{{technology.name}} <i class="fa fa-trash-alt"
                                                                                     (click)="removeTechnology(project.id,technology.id)"></i><br></span>

        <h4>Ajouter une compétence</h4>
        <mat-form-field>
          <mat-label>Compétence</mat-label>
          <mat-select [(value)]="addedAbility">
            <mat-option *ngFor="let ability of abilities" [value]="ability">
              {{ability.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="addAbility()">Ajouter
          la compétence
        </button>

        <h4>Ajouter une technologie</h4>
        <mat-form-field>
          <mat-label>Technologie</mat-label>
          <mat-select [(value)]="addedTechnology">
            <mat-option *ngFor="let technology of technologies" [value]="technology">
              {{technology.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addTechnology()">
          Ajouter la technologie
        </button>
      </div>


    </mat-dialog-content>

    <mat-dialog-actions>
      <button type="button" mat-raised-button color="primary"
              (click)="handleClickSave()">Sauvegarder
      </button>
    </mat-dialog-actions>
