<div mat-dialog-title>{{ability.name}}</div>
<div mat-dialog-content>


  <mat-list>
    <mat-list-item *ngFor="let technology of ability.technologies">

      <img alt="{{technology.name}}" mat-list-avatar src="{{technology.image}}"/>
      <h4 mat-line>

        {{technology.name}}
      </h4>
      <div>

        <a (click)="handleClickEditTechnology(technology)" *ngIf="logged" aria-label="edit" mat-icon-button mat-line>
          <mat-icon>edit</mat-icon>
        </a>

        <button (click)="deleteTechnology(technology.id)" *ngIf="logged" aria-label="delete" mat-icon-button
                mat-line>
          <mat-icon>delete</mat-icon>
        </button>

      </div>

    </mat-list-item>
  </mat-list>


</div>
<div mat-dialog-actions>
  <div *ngIf="logged">
    <button (click)="handleClickAdd()" mat-button>AJOUTER</button>
  </div>
  <div *ngIf="logged">
    <button (click)="handleClickEdit()" mat-button>MODIFIER</button>
  </div>
  <div *ngIf="logged">
    <button (click)="handleDelete()" mat-button>SUPPRIMER</button>
  </div>


  <button (click)="closeModale()" class="close" mat-button type="button">FERMER
  </button>
</div>
