.mdl-chip__contact {
  background-color: white;
}

:host {
  display: inline-block;
}

.mdl-chip {
  display: inline-block;
  transition: width 0.2s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 0.1, 0.7);
  margin-left: 2px;
  margin-right: 2px;
}

.mdl-chip:hover {
  cursor: pointer;
}

.mdl-chip__text {
  text-align: center;
  width: 4.5rem;
  color: white;
  transition: width 0.2s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 0.1, 0.7);
}

.mdl-chip:hover .mdl-chip__text {
  width: 5vw;
}

.mdl-list {
  height: 30vh;
  width: 19vw;
  overflow-y: scroll;
  color: white;
}

.mdl-list li span {
  color: white;
}

dialog {
  width: 20vw !important;
  background-color: #424242;
}

.mdl-dialog__title {
  color: white;
}

dialog img {
  border-radius: 1px;
  width: 20%;
  margin-right: 10%;
}

.mdl-dialog__actions button {
  color: white !important;
}

.fa {
  font-size: 1.25vw;
}
