<h1 mat-dialog-title>Connexion</h1>

<mat-dialog-content>
  <mat-form-field appearance="fill">
    <input [(ngModel)]="login" id="login" matInput name="login" placeholder="Identifiant" type="text">
  </mat-form-field>
  <br>

  <mat-form-field  appearance="fill">
    <input [(ngModel)]="password" id="password" matInput name="password" placeholder="Mot de passe" type="password">
  </mat-form-field>
  <br>

</mat-dialog-content>
<div mat-dialog-actions>
  <button (click)="cancel()" color="primary" mat-button>Annuler</button>
  <button (click)="handleLogin()" color="primary" mat-raised-button>Connexion</button>
  {{error}}
</div>
