<h1 mat-dialog-title>Connexion</h1>

<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Identifiant" type="text" id="login" [(ngModel)]="login" name="login">
  </mat-form-field>
  <br>

  <mat-form-field>
    <input matInput placeholder="Mot de passe" type="password" id="password" [(ngModel)]="password" name="password">
  </mat-form-field>
  <br>

</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="cancel()">Annuler</button>
  <button mat-raised-button color="primary" (click)="handleLogin()">Connexion</button>
  {{error}}
</div>
