.mat-card {
  padding: 2vw;
  width: 80%;
  margin-bottom: 7vh;
  min-height: 30vh;
  margin-left: auto;
  margin-right: auto;
}

mat-card-header {
  margin-bottom: 2vh;
}

mat-card-title {
  margin: 0;
  margin-left: -0.5vw;
  font-size: 36px;
  font-weight: normal;
}

mat-card-actions {
  position: absolute;
  bottom: 24px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

app-ability {
  display: inline-block;
  padding-bottom: 2vh;
}
