<mat-card>
  <mat-card-header>
    <mat-card-title>{{subject.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="row wrap">
    <div *ngFor="let ability of subject.abilities" fxFlex="33.3%" fxFlex.xs="50%">
      <app-ability (delete)="handleDeleteAbility($event)" [ability]="ability" [logged]="logged"
                   [subject]="subject"></app-ability>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a (click)="handleAddAbility()" *ngIf="logged" mat-button>AJOUTER</a>
    <a (click)="handleUpdateSubject()" *ngIf="logged" mat-button>MODIFIER</a>
    <a (click)="handleDelete()" *ngIf="logged" class="hover-pointer" mat-button>SUPPRIMER</a>
  </mat-card-actions>
</mat-card>
