<div mat-dialog-title>
  <h4>
    {{project.name}}
  </h4>
</div>
<div mat-dialog-content>
  <div class="project-description">
    <p>
      <markdown ngPreserveWhitespaces>{{project.description}}</markdown>
    </p>
    <a *ngIf="project.git" color="primary"
       href="{{project.git}}" mat-raised-button>GitLab</a>
  </div>
  <div class="specs">
    <img *ngFor="let ability of project.abilities" class="spec" src="{{ability.image}}"/>
    <img *ngFor="let technology of project.technologies" class="spec" src="{{technology.image}}"/>
  </div>
</div>
<div mat-dialog-actions>

  <a (click)="handleClickEdit()" *ngIf="logged" mat-button>MODIFIER</a>

  <a (click)="handleDelete(project.id)" (click)="close()" *ngIf="logged" mat-button>SUPPRIMER</a>

  <button [mat-dialog-close]="this.deleted" class="close" mat-button>FERMER</button>


</div>
