<body>

<header>
  <video autoplay loop>
    <source src="/assets/video.mp4" type="video/mp4">
  </video>
  <mat-card>
    <img (click)="showConnectDialog()" alt="arsene" class="profile-image"
         src="/assets/img/arsene.png"/>
    <mat-card-content>
      <h4>Arsène Lapostolet</h4>
      <p>Etudiant en Informatique</p>
    </mat-card-content>
  </mat-card>
</header>
<nav>
  <div class="menu-button" fxLayout="row wrap" fxLayoutAlign="space-around" fxLayoutGap.xs="0">
    <div fxFlex.md="20%" fxFlex.sm="50%" fxFlex.xs="50%"><img
      class="header-icons" src="/assets/img/abilities.png"/>
      <button (click)="scrollTo('abilities')"
              color="primary"
              data-target="abilities" mat-raised-button>Compétences
      </button>
    </div>
    <div fxFlex.md="20%" fxFlex.sm="50%" fxFlex.xs="50%"><img
      class="header-icons" src="/assets/img/projects.png"/>
      <button (click)="scrollTo('projects')"
              color="primary"
              data-target="projects" mat-raised-button>Projets
      </button>
    </div>
    <div fxFlex.md="20%" fxFlex.sm="50%" fxFlex.xs="50%"><img
      class="header-icons" src="/assets/img/diploma.png"/>
      <button (click)="scrollTo('diplomas')"
              color="primary"
              data-target="diplomas" mat-raised-button>Diplomes
      </button>
    </div>

    <div fxFlex.md="20%" fxFlex.sm="50%" fxFlex.xs="50%"><img class="header-icons"
                                                              src="/assets/img/cv.png"/>
      <a color="primary"
         data-target="" href="/assets/LAPOSTOLET%20Arsene-CV-LSI.pdf" mat-raised-button>CV
      </a>
    </div>
  </div>
</nav>

<a (click)="handleClickCreateDiploma()" *ngIf="logged && createMenuOpen" class="create-button create-button-diploma" color="accent"
   mat-fab matTooltip="Créer un diplôme" matTooltipPosition="before">
  <mat-icon>school</mat-icon>
</a>
<a (click)="handleClickCreateProject()" *ngIf="logged && createMenuOpen" class="create-button create-button-project"
   color="accent"
   mat-fab matTooltip="Créer un projet" matTooltipPosition="before">
  <mat-icon>star</mat-icon>
</a>
<a (click)="handleClickCreateSubject()" *ngIf="logged && createMenuOpen" class="create-button create-button-subject"
   color="accent"
   mat-fab matTooltip="Créer un sujet" matTooltipPosition="before">
  <mat-icon>build</mat-icon>
</a>
<button (click)="toggleMenu()" *ngIf="logged" class="create-button create-button-toggle" color="primary" mat-fab>
  <mat-icon>{{createMenuOpen ? 'close' : 'add'}}</mat-icon>
</button>

<section id="abilities">
  <app-subjects></app-subjects>
</section>

<section id="projects">
  <app-projects [logged]="logged"></app-projects>
</section>

<section id="diplomas">
  <app-diplomas [logged]="logged"></app-diplomas>
</section>

<section id="experience">

</section>

<section id="hobbies">

</section>
</body>
