<div class="diplomas">
  <h1>Diplômes</h1>
  <br><br>
  <mat-spinner *ngIf="!loaded"></mat-spinner>
  <div fxLayout="row wrap">
    <div *ngFor="let diploma of diplomas" fxFlex.gt-md="33.3%">
      <mat-card>
        <mat-card-header>
          <div [style.background-image]="'url(' + diploma.logo +')'" class="diploma-logo" mat-card-avatar>
          </div>
          <mat-card-title>{{diploma.name}} - {{diploma.school}}</mat-card-title>
          <mat-card-subtitle>  {{diploma.startYear}} - {{diploma.endYear}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <markdown ngPreserveWhitespaces>
            {{diploma.description}}
          </markdown>
        </mat-card-content>
        <mat-card-actions>
          <a *ngIf="logged" mat-button routerLink="/diploma/{{diploma.id}}">MODIFIER</a>
          <a (click)="delete(diploma)" *ngIf="logged" mat-button>SUPPRIMER</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
