<h1 mat-dialog-title>Create or Update Ability</h1>

<mat-dialog-content>
  <mat-form-field appearance="fill">
    <input [(ngModel)]="diploma.name" id="name" matInput name="name" placeholder="Nom" type="text">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input [(ngModel)]="diploma.school" id="school" matInput name="school" placeholder="Ecole" type="text">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input [(ngModel)]="diploma.startYear" id="startYear" matInput name="startYear" placeholder="Année de début"
           type="number"/>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input [(ngModel)]="diploma.endYear" id="endYear" matInput name="endYear" placeholder="Année de fin"
           type="number"/>
  </mat-form-field>

  <label for="image">Logo :</label>
  <input (change)="handleFileInput($event.target.files)" id="image" name="image" placeholder="Image" type="file">

  <mat-form-field appearance="fill">
        <textarea [(ngModel)]="diploma.description" id="description" matInput name="description"
                  placeholder="Description"
                  type="text"></textarea>
  </mat-form-field>


  <button (click)="submit()" color="primary"
          mat-raised-button>Sauvegarder
  </button>
</mat-dialog-content>
