.tile {
  width: 20rem;
  height: 20rem;
  margin-bottom: 5.5vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

h5 {
  padding-left: 1vw !important;
  padding-right: 1vw !important;
  color: white !important;
  margin: 0 !important;
  margin-top: 3% !important;
  font-size: 90% !important;
}

.tileLegend {
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  padding-top: 30%;
  font-size: 2rem;
  line-height: 3rem;
  transition: all 400ms ease-in;
}

.textTile {
  transition: all 400ms ease-in;
  position: absolute;
  opacity: 0;
  top: 45%;
  z-index: 1000;
  left: 50%;
}

.textTile button {
  position: relative;
  left: -50%;
}

.tile:hover .textTile {
  transition: all 400ms ease-out;
  opacity: 1;
}

.tile:hover .tileLegend {
  transition: all 400ms ease-out;
  opacity: 0;
}

.tileImage {
  width: 5vw;
}

